@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body{
  background-color: white;
  background-image:url("../image/train.jpg");
  background-repeat:no-repeat;
}
h3{         position: absolute;
                      margin:0px;
                      font-size:14px;
                      padding-top:650px;
                      padding-left:600px;
                    padding-right:8px;
      			}
