@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body{
  background-color: white;
  background-image:url("../image/bc.jpg");
  background-repeat:no-repeat;
}

h1{
  font-family: 'Shadows Into Light', cursive;
font-size: 50pt;
}
h3{         position: absolute;
                      margin:0px;
                      font-size:14px;
                      padding-top:200px;
                      padding-left:500px;
                    padding-right:8px;
      			}

  h4{         position: absolute;
                  			margin:0px;
                  			font-size:14px;
                  			padding-top:200px;
                  			padding-left:300px;
                      padding-right:8px;
                  			}
                        h5{         position: absolute;
                                        			margin:0px;
                                        			font-size:14px;
                                        			padding-top:200px;
                                        			padding-left:100px;
                                            padding-right:8px;
                                        			}
