@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body{
  background-color: white;
  background-image:url("../image/B.jpg");
  background-repeat:no-repeat;
}

h1{
  font-family: 'Shadows Into Light', cursive;
font-size: 50pt;
}
p{ position: relative;
			margin:0px;
			font-size:14px;
			padding-top:120px;
			padding-left:300px;
			padding-right:8px;
}
h2{ position: relative;
			margin:0px;
			font-size:14px;
			padding-top:130px;
			padding-left:1px;
			padding-right:8px;}

h3{         position: relative;
      			margin:0px;
      			font-size:14px;
      			padding-top:120px;
      			padding-left:1px;
          padding-right:8px;
      			}

  h4{         position: relative;
                  			margin:0px;
                  			font-size:14px;
                  			padding-top:455px;
                  			padding-left:1px;
                      padding-right:8px;
                  			}
  h5{        position: relative;
          margin:0px;
                                              font-size:14px;
                                              padding-top:410px;
                                              padding-left:1px;
                                            padding-right:8px;
                                              }
