@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap');

body{
  background-color: white;
  background-image:url("../image/B12345.jpg");
  background-repeat:no-repeat;
}

h1{
  font-family: 'Shadows Into Light', cursive;
font-size: 50pt;
}
p{ position: absolute;
			margin:0px;
			font-size:14px;
			padding-top:440px;
			padding-left:1200px;
			padding-right:8px;
}


h3{         position: absolute;
                      margin:0px;
                      font-size:14px;
                      padding-top:440px;
                      padding-left:1100px;
                    padding-right:8px;
      			}

  h4{         position: absolute;
                  			margin:0px;
                  			font-size:14px;
                  			padding-top:455px;
                  			padding-left:700px;
                      padding-right:8px;
                  			}
  h5{        position: absolute;
          margin:0px;
                                              font-size:14px;
                                              padding-top:410px;
                                              padding-left:600px;
                                            padding-right:8px;
                                              }
